body{
    background: black; 
    text-align: center;
}
canvas{
    border-width: medium;
    border-color: grey;
    border-style: outset;
    background-color: black;
    width: 100%;
    height:300px;
}

